/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  CSS Reset ends
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:root {

  /*primary colors*/
  --dark-magenta: hsl(300, 43%, 22%);
  --pink: hsla(333, 80%, 67%, 0.8);

  /*neutral colors*/
  --white: hsl(0, 0%, 100%);
  --dgray-magenta: hsl(303, 10%, 53%);
  --lgray-magenta: hsl(300, 24%, 96%);

  /*font-weights*/
  --normal: 400;
  --medium: 500;
  --bold: 700;

}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: 'League Spartan', sans-serif;
  text-align: center;
  padding: 5rem 1.5rem;
  background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.13rem;
  align-items: center;
  justify-content: center;
  max-width: 70rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero__texts {
  max-width: 28.125rem;
}

.hero__texts-heading {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 4.5vw, 3.5rem);
  font-weight: var(--bold);
  line-height: 0.8;
  letter-spacing: -0.08rem;
  color: var(--dark-magenta);
  margin-bottom: 1.25rem;
}

.hero__texts-paragraph {
  font-size: 1.1875rem;
  font-weight: var(--medium);
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: var(--dgray-magenta);
}

.hero__ratings-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 25rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--lgray-magenta);
}

.hero__stars {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.rating__paragraph {
  font-size: 1rem;
  font-weight: var(--bold);
  color: var(--dark-magenta);
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.testimonials__testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 31.88rem;
  text-align: left;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--dark-magenta);
}

.testimonial__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.testimonial__avatar {
  width: 2.63rem;
  border-radius: 50%;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  font-size: 1.09375rem;
  font-weight: var(--normal);
  line-height: 1;
  color: var(--pink);
}

.testimonial__name {
  font-size: 1.125rem;
  font-weight: var(--medium);
  color: var(--white);
}

.testimonial__quote {
  font-size: 1.03125rem;
  color: var(--white);
}

@media screen and (min-width: 56.25rem) {

  body {
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  }
  
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .hero__texts {
    text-align: left;
    width: 50%;
  }
  
  .hero__ratings-list {
    width: 45%;
  }

  .rating {
    align-items: center;
  }

  .rating-1 {
    align-self: flex-start;
  }

  .rating-3 {
    align-self: flex-end;
  }

  .testimonials {
    flex-direction: row;
  }

  .testimonials__testimonial {
    max-width: 21.88rem;
  }

  .testimonial-2 {
    margin-top: 2rem;
  }

  .testimonial-3 {
    margin-top: 4rem;
  }
  
}

/*Entrance Animation*/

.hero__texts {
  animation: entrance-1 1s ease;
}

@keyframes entrance-1 {

  0% {
    transform: translate(-100%, -100%);
  }
  
}

.hero__ratings-list {
  animation: entrance-2 1s ease;
}

@keyframes entrance-2 {

  0% {
    transform: translate(100%, -100%);
  }
  
}

.testimonial-1 {
  animation: entrance-3 1s ease;
}

@keyframes entrance-3 {

  0% {
    transform: translate(-100%, 100%);
  }
  
}

.testimonial-2 {
  animation: entrance-4 1s ease;
}

@keyframes entrance-4 {

  0% {
    transform: translate(0%, 100%);
  }
  
}

.testimonial-3 {
  animation: entrance-5 1s ease;
}

@keyframes entrance-5 {

  0% {
    transform: translate(100%, 100%);
  }
  
}


/*Star Animation*/

.star-1 {
  animation: star-1-animation 3s ease 3s infinite;
}

@keyframes star-1-animation {

  10% {
    transform: translateY(-0.3rem);
  }

  50% {
    transform: translateY(0rem);
  }
  
}

.star-2 {
  animation: star-2-animation 3s ease 3s infinite;
}

@keyframes star-2-animation {

  15% {
    transform: translateY(-0.3rem);
  }

  55% {
    transform: translateY(0rem);
  }
  
}

.star-3 {
  animation: star-3-animation 3s ease 3s infinite;
}

@keyframes star-3-animation {

  20% {
    transform: translateY(-0.3rem);
  }

  60% {
    transform: translateY(0rem);
  }
  
}

.star-4 {
  animation: star-4-animation 3s ease 3s infinite;
}

@keyframes star-4-animation {

  25% {
    transform: translateY(-0.3rem);
  }

  65% {
    transform: translateY(0rem);
  }
  
}

.star-5 {
  animation: star-5-animation 3s ease 3s infinite;
}

@keyframes star-5-animation {

  30% {
    transform: translateY(-0.3rem);
  }

  70% {
    transform: translateY(0rem);
  }
  
}
